---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c-GZ/SkDPSLbrxETaPN3jD/YxoIJU"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"Bad Request","message":"Missing API key"}}'
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=BRL&currencies=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.14'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '292'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"USD":{"code":"USD","value":0.1843}}}'
  recorded_at: Mon, 11 Mar 2024 14:56:50 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.89'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '293'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"BRL":{"code":"BRL","value":4.7637}}}'
  recorded_at: Mon, 11 Mar 2024 14:51:46 GMT
recorded_with: VCR 6.1.0
