---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e2-5js9XtKG0p2lMiLE5ImzZYP9dJ0"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2023-03-15T17:48:14.969Z","baseFee":109.51475970735002,"lastBlock":40381873,"avgTime":2.522613065326633,"avgTx":89.18,"avgGas":204094.540107083,"speeds":[{"acceptance":0.35,"gasPrice":147.4532439,"estimatedFee":0.03521045034124961},{"acceptance":0.6,"gasPrice":170.159765853,"estimatedFee":0.040632554613101446},{"acceptance":0.9,"gasPrice":221.886191766,"estimatedFee":0.05298433950957474},{"acceptance":1,"gasPrice":583.561339005,"estimatedFee":0.1393489692369439}]}'
  recorded_at: Wed, 15 Mar 2023 17:48:14 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993\"
        integrity=\"sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==\"
        data-cf-beacon='{\"rayId\":\"7a86961339daa4d1\",\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"version\":\"2023.2.0\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 15 Mar 2023 17:48:15 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f1-OSnefEXAqR13GXVGTE30Dn3epCw"
    body:
      encoding: UTF-8
      string: '{"USDBRL":{"code":"USD","codein":"BRL","name":"Dólar Americano/Real
        Brasileiro","high":"5.3281","low":"5.2505","varBid":"0.0636","pctChange":"1.21","bid":"5.3173","ask":"5.3184","timestamp":"1678902483","create_date":"2023-03-15
        14:48:03"}}'
  recorded_at: Wed, 15 Mar 2023 17:48:15 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993\"
        integrity=\"sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==\"
        data-cf-beacon='{\"rayId\":\"7a8696144ffa5205\",\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"version\":\"2023.2.0\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 15 Mar 2023 17:48:15 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f3-0pajkThcZSnE91rVeN/PxN59HzM"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.1905","low":"0.1877","varBid":"-0.0018","pctChange":"-0.92","bid":"0.1885","ask":"0.1885","timestamp":"1678901515","create_date":"2023-03-15
        14:31:55"}}'
  recorded_at: Wed, 15 Mar 2023 17:48:15 GMT
recorded_with: VCR 6.1.0
