---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c-GZ/SkDPSLbrxETaPN3jD/YxoIJU"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"Bad Request","message":"Missing API key"}}'
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816\"
        integrity=\"sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==\"
        data-cf-beacon='{\"rayId\":\"7e4b03fbce682eb9\",\"version\":\"2023.4.0\",\"b\":1,\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f2-DDVZZU9EFKluipjuBHFBxk14enY"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.2058","low":"0.2044","varBid":"-0.0003","pctChange":"-0.15","bid":"0.2049","ask":"0.205","timestamp":"1689015218","create_date":"2023-07-10
        15:53:38"}}'
  recorded_at: Mon, 10 Jul 2023 18:54:29 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816\"
        integrity=\"sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==\"
        data-cf-beacon='{\"rayId\":\"7e4b03fd2c852ec4\",\"version\":\"2023.4.0\",\"b\":1,\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 10 Jul 2023 18:54:30 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/usd-brl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f1-pcWvFrWOk33fmN00M8hasDZKdAo"
    body:
      encoding: UTF-8
      string: '{"USDBRL":{"code":"USD","codein":"BRL","name":"Dólar Americano/Real
        Brasileiro","high":"4.8921","low":"4.8552","varBid":"0.0112","pctChange":"0.23","bid":"4.8827","ask":"4.8837","timestamp":"1689014405","create_date":"2023-07-10
        15:40:05"}}'
  recorded_at: Mon, 10 Jul 2023 18:54:30 GMT
recorded_with: VCR 6.1.0
