---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e2-5js9XtKG0p2lMiLE5ImzZYP9dJ0"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2023-03-15T17:48:14.969Z","baseFee":109.51475970735002,"lastBlock":40381873,"avgTime":2.522613065326633,"avgTx":89.18,"avgGas":204094.540107083,"speeds":[{"acceptance":0.35,"gasPrice":147.4532439,"estimatedFee":0.03521045034124961},{"acceptance":0.6,"gasPrice":170.159765853,"estimatedFee":0.040632554613101446},{"acceptance":0.9,"gasPrice":221.886191766,"estimatedFee":0.05298433950957474},{"acceptance":1,"gasPrice":583.561339005,"estimatedFee":0.1393489692369439}]}'
  recorded_at: Wed, 15 Mar 2023 17:48:14 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.89'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '293'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"BRL":{"code":"BRL","value":4.7637}}}'
  recorded_at: Mon, 11 Mar 2024 14:51:46 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=BRL&currencies=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.14'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '292'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"USD":{"code":"USD","value":0.1843}}}'
  recorded_at: Mon, 11 Mar 2024 14:56:50 GMT
recorded_with: VCR 6.1.0
