---
http_interactions:
- request:
    method: post
    uri: https://api.nft.storage/upload
    body:
      encoding: UTF-8
      string: '[{"value":null,"integration_id":134,"non_profit_id":134,"user_id":123,"donation_id":123,"user_hash":"d289d5d0d6240ab576ea2c51a9a2e9ac8d820255e5b2d4d3244314a0975588d4","integration_address":"https://dapp.ribon.io/?integration_id=f7be8d80-2406-4cb0-82eb-849346d327c9","non_profit_address":"0x6E060041D62fDd76cF27c582f62983b864878E8F","timestamp":"2022-12-13T14:13:23.414Z"}]'
    headers:
      Authorization:
      - Bearer nft_storage_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ok":true,"value":{"cid":"bafkreifl65tqueg2o4y7qd2aiyg6kyzfltme6ythnyueolqmtz7gu3yzci","created":"2022-12-13T14:13:28.204+00:00","type":"application/json","scope":"RibonNFTStorageKey","files":[],"size":372,"name":"Upload
        at 2022-12-13T14:13:28.204Z","pin":{"cid":"bafkreifl65tqueg2o4y7qd2aiyg6kyzfltme6ythnyueolqmtz7gu3yzci","created":"2022-12-13T14:13:28.204+00:00","size":372,"status":"pinned"},"deals":[]}}'
  recorded_at: Tue, 13 Dec 2022 14:13:31 GMT
recorded_with: VCR 6.1.0
