---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d9-o+VXHVkmoFQO3jyRuyYr0NddR80"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-05-31T10:55:12.471Z","lastBlock":28989516,"avgTime":2.080402010050251,"avgTx":91.215,"avgGas":204468.64608262715,"speeds":[{"acceptance":0.35,"gasPrice":32.653600001,"estimatedFee":0.4466349929915595},{"acceptance":0.6,"gasPrice":35.324012788,"estimatedFee":0.4831608215792127},{"acceptance":0.9,"gasPrice":38.5,"estimatedFee":0.5266018824769225},{"acceptance":1,"gasPrice":200,"estimatedFee":0.7355941946853122}],"baseFee":1.8239583333333348e-8}'
  recorded_at: Tue, 31 May 2022 10:55:12 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.89'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '293'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"BRL":{"code":"BRL","value":4.7637}}}'
  recorded_at: Mon, 11 Mar 2024 14:51:46 GMT
recorded_with: VCR 6.1.0
