---
http_interactions:
- request:
    method: post
    uri: https://track.customer.io/api/v1/customers/user101@example.com/events
    body:
      encoding: UTF-8
      string: '{"name":"donated","data":{"integration_id":32,"non_profit_id":32,"user_id":37,"platform":"app","value":"1.0","created_at":"2023-08-10T18:36:02.269Z","total_number_of_donations":1,"donation_impact":"1
        2 3"}}'
    headers:
      Authorization:
      - Basic token=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Thu, 10 Aug 2023 18:36:02 GMT
recorded_with: VCR 6.1.0
