---
http_interactions:
  - request:
      method: post
      uri: https://track.customer.io/api/v1/customers/user100@example.com/events
      body:
        encoding: UTF-8
        string: '{"name":"purchase","data":{"price":1000,"quantity":1}}'
      headers:
        Authorization:
          - Basic CUSTOMERIO_API_KEY
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
      body:
        encoding: UTF-8
        string: "{}\n"
    recorded_at: Wed, 02 Aug 2023 20:22:48 GMT
  - request:
      method: post
      uri: https://track.customer.io/api/v1/customers/user101@example.com/events
      body:
        encoding: UTF-8
        string: '{"name":"cancel_subscription","data":{"receiver_name":"Evidence Action","subscription_id":139,"user":{"id":154,"email":"user101@example.com","created_at":"2023-08-28T21:42:19.162Z","updated_at":"2023-08-28T21:42:19.162Z","language":null,"legacy_id":null,"deleted_at":null},"amount":"R$10.00","token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InVzZXIxMDFAZXhhbXBsZS5jb20iLCJleHAiOjE2OTMyNjA3NDB9.TlR8MuUq583xKD5P87d_fIKjbG_grJBPRveB3FJBANk","status":"active","language":null}}'
      headers:
        Authorization:
          - Basic CUSTOMERIO_API_KEY
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
      body:
        encoding: UTF-8
        string: "{}\n"
    recorded_at: Mon, 28 Aug 2023 21:42:20 GMT
recorded_with: VCR 6.1.0
