---
http_interactions:
  - request:
      method: post
      uri: https://track.customer.io/api/v1/customers/user100@example.com/events
      body:
        encoding: UTF-8
        string: '{"name":"purchase","data":{"price":1000,"quantity":1}}'
      headers:
        Authorization:
          - Basic token=
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
      body:
        encoding: UTF-8
        string: "{}\n"
    recorded_at: Wed, 02 Aug 2023 20:22:48 GMT
recorded_with: VCR 6.1.0
