---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Tue, 29 Aug 2023 19:50:01 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-Ygzk9LBrkZvIffTMFEI+u/Bm05s"
    body:
      encoding: UTF-8
      string: '{"error":{"status":400,"type":"Bad Request","message":"Missing API
        key"}}'
  recorded_at: Tue, 29 Aug 2023 19:50:02 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854\"
        integrity=\"sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==\"
        data-cf-beacon='{\"rayId\":\"7fe752185ebd1b15\",\"version\":\"2023.8.0\",\"b\":1,\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 29 Aug 2023 19:50:02 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f0-LktoKnhPhTMumnTQq/4M1utj9rE"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.2062","low":"0.204","varBid":"0.0009","pctChange":"0.44","bid":"0.2061","ask":"0.2062","timestamp":"1693338307","create_date":"2023-08-29
        16:45:07"}}'
  recorded_at: Tue, 29 Aug 2023 19:50:02 GMT
- request:
    method: post
    uri: https://track.customer.io/api/v1/customers/user101@example.com/events
    body:
      encoding: UTF-8
      string: '{"name":"cancel_subscription","data":{"receiver_name":"Evidence Action","subscription_id":246,"user":{"id":4079,"email":"user101@example.com","created_at":"2023-08-29T19:50:00.935Z","updated_at":"2023-08-29T19:50:00.935Z","language":null,"legacy_id":null,"deleted_at":null},"amount":"R$10.00","token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWJzY3JpcHRpb25faWQiOjI0NiwiZXhwIjoxNjkzMzQwNDAyfQ.69-fEZX7RYJs8FXL9vzSiEM7su3RJ0CXgXo-n2abKKw","status":"active","language":null}}'
    headers:
      Authorization:
      - Basic ZWY0MTAzNjA0YmQxNjNmZDQ0OTM6YzdjNWNjZDQ0M2FmYzk4ZGU3YzY=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Tue, 29 Aug 2023 19:50:02 GMT
recorded_with: VCR 6.1.0
