---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Wed, 05 Jul 2023 16:53:14 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c-GZ/SkDPSLbrxETaPN3jD/YxoIJU"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"Bad Request","message":"Missing API key"}}'
  recorded_at: Wed, 05 Jul 2023 16:53:15 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816\"
        integrity=\"sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==\"
        data-cf-beacon='{\"rayId\":\"7e211f83cc1c25eb\",\"version\":\"2023.4.0\",\"b\":1,\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 05 Jul 2023 16:53:15 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"f2-3zGn1XcBk4pqWGj62FlfQdjTF+U"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.2067","low":"0.2053","varBid":"-0.0007","pctChange":"-0.34","bid":"0.2059","ask":"0.206","timestamp":"1688575893","create_date":"2023-07-05
        13:51:33"}}'
  recorded_at: Wed, 05 Jul 2023 16:53:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4100000000000019&card[exp_month]=12&card[exp_year]=24&card[cvc]=123
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d384404a-6d6c-418f-8615-7ab1db9cd7d4
      Original-Request:
      - req_3fjT4hg7KDD6gR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1NQYx6JuOnwQq9QxID3LJH4A",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "kVIu3rHKofLj64wR",
            "funding": "credit",
            "generated_from": null,
            "last4": "0019",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1688575996,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 05 Jul 2023 16:53:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=customer114%40customer.com&name=a+customer&payment_method=pm_1NQYx6JuOnwQq9QxID3LJH4A&invoice_settings[default_payment_method]=pm_1NQYx6JuOnwQq9QxID3LJH4A
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b317872a-86d4-4653-a287-c3929c037994
      Original-Request:
      - req_8OJsj1fRvUienc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OCyuvludaO1Tp7",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1688575996,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "customer114@customer.com",
          "invoice_prefix": "DDAED7DE",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1NQYx6JuOnwQq9QxID3LJH4A",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "a customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 05 Jul 2023 16:53:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_OCyuvludaO1Tp7/tax_ids
    body:
      encoding: UTF-8
      string: type=br_cpf&value=12345678901
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c449088a-031e-4d78-a153-d6090a15d442
      Original-Request:
      - req_ry8jelMSvlonvC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txi_1NQYx7JuOnwQq9QxHnocbC3e",
          "object": "tax_id",
          "country": "BR",
          "created": 1688575997,
          "customer": "cus_OCyuvludaO1Tp7",
          "livemode": false,
          "type": "br_cpf",
          "value": "123.456.789-01",
          "verification": {
            "status": "unavailable",
            "verified_address": null,
            "verified_name": null
          }
        }
  recorded_at: Wed, 05 Jul 2023 16:53:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=brl&payment_method=pm_1NQYx6JuOnwQq9QxID3LJH4A&customer=cus_OCyuvludaO1Tp7&confirm=true
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3497fefa-03af-48c1-a776-2e56d81d8f15
      Original-Request:
      - req_mhVcGvqi7mtufS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3NQYx7JuOnwQq9Qx1ggERCoQ",
            "code": "card_declined",
            "decline_code": "fraudulent",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_3NQYx7JuOnwQq9Qx1wtzK7nC",
              "object": "payment_intent",
              "amount": 1000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_3NQYx7JuOnwQq9Qx1ggERCoQ",
                    "object": "charge",
                    "amount": 1000,
                    "amount_captured": 0,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": null,
                    "captured": false,
                    "created": 1688575998,
                    "currency": "brl",
                    "customer": "cus_OCyuvludaO1Tp7",
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_balance_transaction": null,
                    "failure_code": "card_declined",
                    "failure_message": "Your card was declined.",
                    "fraud_details": {
                      "stripe_report": "fraudulent"
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "not_sent_to_network",
                      "reason": "merchant_blacklist",
                      "risk_level": "highest",
                      "risk_score": 99,
                      "seller_message": "Stripe blocked this payment.",
                      "type": "blocked"
                    },
                    "paid": false,
                    "payment_intent": "pi_3NQYx7JuOnwQq9Qx1wtzK7nC",
                    "payment_method": "pm_1NQYx6JuOnwQq9QxID3LJH4A",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": "unavailable"
                        },
                        "country": "US",
                        "exp_month": 12,
                        "exp_year": 2024,
                        "fingerprint": "kVIu3rHKofLj64wR",
                        "funding": "credit",
                        "installments": null,
                        "last4": "0019",
                        "mandate": null,
                        "network": "visa",
                        "network_token": {
                          "used": false
                        },
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_3NQYx7JuOnwQq9Qx1ggERCoQ/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_3NQYx7JuOnwQq9Qx1wtzK7nC"
              },
              "client_secret": "pi_3NQYx7JuOnwQq9Qx1wtzK7nC_secret_XpvyjIg0Gfs4oEpenbdjeiFSI",
              "confirmation_method": "automatic",
              "created": 1688575997,
              "currency": "brl",
              "customer": "cus_OCyuvludaO1Tp7",
              "description": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_3NQYx7JuOnwQq9Qx1ggERCoQ",
                "code": "card_declined",
                "decline_code": "fraudulent",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_1NQYx6JuOnwQq9QxID3LJH4A",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
          [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3NQYx7JuOnwQq9Qx1ggERCoQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
   [...]
