---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Fri, 29 Sep 2023 12:58:42 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-Ygzk9LBrkZvIffTMFEI+u/Bm05s"
    body:
      encoding: UTF-8
      string: '{"error":{"status":400,"type":"Bad Request","message":"Missing API
        key"}}'
  recorded_at: Fri, 29 Sep 2023 12:58:43 GMT
- request:
    method: get
    uri: http://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html
      Location:
      - https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
        Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n<script
        defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854\"
        integrity=\"sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==\"
        data-cf-beacon='{\"rayId\":\"80e46634afaa1d42\",\"version\":\"2023.8.0\",\"b\":1,\"token\":\"41f4f61ebd054909bdc60095decd9fc8\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 29 Sep 2023 12:58:43 GMT
- request:
    method: get
    uri: https://economia.awesomeapi.com.br/json/last/brl-usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"ed-3LlvZ9KXg+yDZ2uzxo6Tp3J6K8A"
    body:
      encoding: UTF-8
      string: '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
        Americano","high":"0.2002","low":"0.1984","varBid":"0.0014","pctChange":"0.7","bid":"0.2","ask":"0.2001","timestamp":"1695991665","create_date":"2023-09-29
        09:47:45"}}'
  recorded_at: Fri, 29 Sep 2023 12:58:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4100000000000019&card[exp_month]=12&card[exp_year]=24&card[cvc]=123
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56be10b5-ae89-4f37-ae72-1e4c619e7061
      Original-Request:
      - req_bkxDp460stC1ER
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1NvgHHJuOnwQq9QxUdnVrulB",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "kVIu3rHKofLj64wR",
            "funding": "credit",
            "generated_from": null,
            "last4": "0019",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1695992324,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Sep 2023 12:58:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=customer117%40customer.com&name=a+customer&payment_method=pm_1NvgHHJuOnwQq9QxUdnVrulB&invoice_settings[default_payment_method]=pm_1NvgHHJuOnwQq9QxUdnVrulB&address[country]=BR&address[city]=Bras%C3%ADlia&address[state]=DF
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c702930c-b94b-4496-8437-2ae637f653c9
      Original-Request:
      - req_bApN2rHkpStzix
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Oj8Y29LPO4TzT8",
          "object": "customer",
          "address": {
            "city": "Brasília",
            "country": "BR",
            "line1": null,
            "line2": null,
            "postal_code": null,
            "state": "DF"
          },
          "balance": 0,
          "created": 1695992324,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "customer117@customer.com",
          "invoice_prefix": "A47AE660",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1NvgHHJuOnwQq9QxUdnVrulB",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "a customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Sep 2023 12:58:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Oj8Y29LPO4TzT8/tax_ids
    body:
      encoding: UTF-8
      string: type=br_cpf&value=12345678901
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a8bf34f2-8935-46d8-b759-b02a7c0d2d40
      Original-Request:
      - req_zfRyXLii7cPydF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txi_1NvgHJJuOnwQq9Qx6mcHHBB6",
          "object": "tax_id",
          "country": "BR",
          "created": 1695992325,
          "customer": "cus_Oj8Y29LPO4TzT8",
          "livemode": false,
          "type": "br_cpf",
          "value": "123.456.789-01",
          "verification": {
            "status": "unavailable",
            "verified_address": null,
            "verified_name": null
          }
        }
  recorded_at: Fri, 29 Sep 2023 12:58:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=brl&payment_method=pm_1NvgHHJuOnwQq9QxUdnVrulB&customer=cus_Oj8Y29LPO4TzT8&confirm=true
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 78459956-e2c5-42e6-b670-371fa88b0428
      Original-Request:
      - req_ZzuMJwcy1Fhalr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3NvgHJJuOnwQq9Qx1waXnLat",
            "code": "card_declined",
            "decline_code": "fraudulent",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "payment_intent": {
              "id": "pi_3NvgHJJuOnwQq9Qx1NiwLdAk",
              "object": "payment_intent",
              "amount": 1000,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_3NvgHJJuOnwQq9Qx1waXnLat",
                    "object": "charge",
                    "amount": 1000,
                    "amount_captured": 0,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": null,
                    "captured": false,
                    "created": 1695992325,
                    "currency": "brl",
                    "customer": "cus_Oj8Y29LPO4TzT8",
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_balance_transaction": null,
                    "failure_code": "card_declined",
                    "failure_message": "Your card was declined.",
                    "fraud_details": {
                      "stripe_report": "fraudulent"
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "not_sent_to_network",
                      "reason": "merchant_blacklist",
                      "risk_level": "highest",
                      "risk_score": 87,
                      "seller_message": "Stripe blocked this payment.",
                      "type": "blocked"
                    },
                    "paid": false,
                    "payment_intent": "pi_3NvgHJJuOnwQq9Qx1NiwLdAk",
                    "payment_method": "pm_1NvgHHJuOnwQq9QxUdnVrulB",
                    "payment_method_details": {
                      "card": {
                        "amount_authorized": null,
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": "unavailable"
                        },
                        "country": "US",
                        "exp_month": 12,
                        "exp_year": 2024,
                        "extended_authorization": {
                          "status": "disabled"
                        },
                        "fingerprint": "kVIu3rHKofLj64wR",
                        "funding": "credit",
                        "incremental_authorization": {
                          "status": "unavailable"
                        },
                        "installments": null,
                        "last4": "0019",
                        "mandate": null,
                        "multicapture": {
                          "status": "unavailable"
                        },
                        "network": "visa",
                        "network_token": {
                          "used": false
                        },
                        "overcapture": {
                          "maximum_amount_capturable": 1000,
                          "status": "unavailable"
                        },
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_3NvgHJJuOnwQq9Qx1waXnLat/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_3NvgHJJuOnwQq9Qx1NiwLdAk"
              },
              "client_secret": "pi_3NvgHJJuOnwQq9Qx1NiwLdAk_secret_niMd3XrPZbXTvoLDZ52aqIREn",
              "confirmation_method": "automatic",
              "created": 1695992325,
              "currency": "brl",
              "customer": "cus_Oj8Y29LPO4TzT8",
              "description": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_3NvgHJJuOnwQq9Qx1waXnLat",
                "code": "card_declined",
                "decline_code": "fraudulent",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "payment_method": {
                  "id": "pm_1NvgHHJuOnwQq9QxUdnVrulB",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
          [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3NvgHJJuOnwQq9Qx1waXnLat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Oj8Y29LPO4TzT8&items[0][price]=price_1NVEIqJuOnwQq9QxBMaE2yul
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0f32de6b-4b62-4252-b0b3-8bbbe6ca61e0
      Original-Request:
      - req_wf2RuDqNHvLEVO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1NvgHPJuOnwQq9QxUy2UL6Nm",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1695992331,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1695992331,
          "currency": "brl",
          "current_period_end": 1698584331,
          "current_period_start": 1695992331,
          "customer": "cus_Oj8Y29LPO4TzT8",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Oj8YoCa1WOTBNT",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1695992332,
                "metadata": {},
                "plan": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_OHnuD1fgH0cvlZ",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_OHnuD1fgH0cvlZ",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1NvgHPJuOnwQq9QxUy2UL6Nm",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1NvgHPJuOnwQq9QxUy2UL6Nm"
          },
          "latest_invoice": "in_1NvgHPJuOnwQq9QxwjHNGPMw",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1689688260,
            "currency": "brl",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_OHnuD1fgH0cvlZ",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1695992331,
          "status": "incomplete",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Fri, 29 Sep 2023 12:58:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1NvgHPJuOnwQq9QxwjHNGPMw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1NvgHPJuOnwQq9QxwjHNGPMw",
          "object": "invoice",
          "account_country": "BR",
          "account_name": "Ribon",
          "account_tax_ids": null,
          "amount_due": 300,
          "amount_paid": 0,
          "amount_remaining": 300,
          "amount_shipping": 0,
          "application": null,
          "application_fee_amount": null,
          "attempt_count": 1,
          "attempted": true,
          "auto_advance": true,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_reason": "subscription_create",
          "charge": "ch_3NvgHPJuOnwQq9Qx0GDf5v4Z",
          "collection_method": "charge_automatically",
          "created": 1695992331,
          "currency": "brl",
          "custom_fields": null,
          "customer": "cus_Oj8Y29LPO4TzT8",
          "customer_address": {
            "city": "Brasília",
            "country": "BR",
            "line1": null,
            "line2": null,
            "postal_code": null,
            "state": "DF"
          },
          "customer_email": "customer117@customer.com",
          "customer_name": "a customer",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [
            {
              "type": "br_cpf",
              "value": "123.456.789-01"
            }
          ],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "due_date": null,
          "effective_at": 1695992331,
          "ending_balance": 0,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1JRgaRJuOnwQq9Qx/test_YWNjdF8xSlJnYVJKdU9ud1FxOVF4LF9PajhZZ0RLRlZKQ0N2N0dVVVlhVmVNOG15YW1pdHp4LDg2NTMzMTMz02003MRnz7fT?s=ap",
          "invoice_pdf": "https://pay.stripe.com/invoice/acct_1JRgaRJuOnwQq9Qx/test_YWNjdF8xSlJnYVJKdU9ud1FxOVF4LF9PajhZZ0RLRlZKQ0N2N0dVVVlhVmVNOG15YW1pdHp4LDg2NTMzMTMz02003MRnz7fT/pdf?s=ap",
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1NvgHPJuOnwQq9Qxm5Cj6SPF",
                "object": "line_item",
                "amount": 300,
                "amount_excluding_tax": 300,
                "currency": "brl",
                "description": "1 × subscription test (at R$ 3.00 / month)",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": 1698584331,
                  "start": 1695992331
                },
                "plan": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "interval": "month",
                  "interval_cou[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3NvgHPJuOnwQq9Qx0CxpDqfQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3NvgHPJuOnwQq9Qx0GDf5v4Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
   [...]
