---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Fri, 29 Sep 2023 12:58:47 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-Ygzk9LBrkZvIffTMFEI+u/Bm05s"
    body:
      encoding: UTF-8
      string: '{"error":{"status":400,"type":"Bad Request","message":"Missing API
        key"}}'
  recorded_at: Fri, 29 Sep 2023 12:58:48 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=BRL&currencies=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.14'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '292'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"USD":{"code":"USD","value":0.1843}}}'
  recorded_at: Mon, 11 Mar 2024 14:56:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000002760003184&card[exp_month]=12&card[exp_year]=24&card[cvc]=123
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ef227d21-1eb9-49c3-a24d-7ebbde5148c3
      Original-Request:
      - req_LfKGJO8o1gWgOK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1NvgHMJuOnwQq9Qxde6Wo5g0",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "DE",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "oIKTEVOWKRhfnltf",
            "funding": "credit",
            "generated_from": null,
            "last4": "3184",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1695992328,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Sep 2023 12:58:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=customer118%40customer.com&name=a+customer&payment_method=pm_1NvgHMJuOnwQq9Qxde6Wo5g0&invoice_settings[default_payment_method]=pm_1NvgHMJuOnwQq9Qxde6Wo5g0&address[country]=BR&address[city]=Bras%C3%ADlia&address[state]=DF
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 804451ab-6dd2-40b0-9d70-8345e73d88e1
      Original-Request:
      - req_cFTkk4E9TwXTHk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Oj8Yp6qM5Ovg2o",
          "object": "customer",
          "address": {
            "city": "Brasília",
            "country": "BR",
            "line1": null,
            "line2": null,
            "postal_code": null,
            "state": "DF"
          },
          "balance": 0,
          "created": 1695992329,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "customer118@customer.com",
          "invoice_prefix": "ABE4D618",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1NvgHMJuOnwQq9Qxde6Wo5g0",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "a customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 29 Sep 2023 12:58:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Oj8Yp6qM5Ovg2o/tax_ids
    body:
      encoding: UTF-8
      string: type=br_cpf&value=111.111.111-11
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cb27c338-c6a9-490d-b986-566ede47a70f
      Original-Request:
      - req_GeaQKYiSxcEAoS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "txi_1NvgHNJuOnwQq9QxcWEmjQ7X",
          "object": "tax_id",
          "country": "BR",
          "created": 1695992329,
          "customer": "cus_Oj8Yp6qM5Ovg2o",
          "livemode": false,
          "type": "br_cpf",
          "value": "111.111.111-11",
          "verification": {
            "status": "unavailable",
            "verified_address": null,
            "verified_name": null
          }
        }
  recorded_at: Fri, 29 Sep 2023 12:58:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=brl&payment_method=pm_1NvgHMJuOnwQq9Qxde6Wo5g0&customer=cus_Oj8Yp6qM5Ovg2o&confirm=true
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4b544ab2-b8d9-4d67-b713-8deb54bba8f4
      Original-Request:
      - req_3VNCEQ9ZK1YsNx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3NvgHOJuOnwQq9Qx1qaAMaSR",
          "object": "payment_intent",
          "amount": 10000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3NvgHOJuOnwQq9Qx1qaAMaSR"
          },
          "client_secret": "pi_3NvgHOJuOnwQq9Qx1qaAMaSR_secret_pZjDanbGHdJoFAHm9rL5QtlUA",
          "confirmation_method": "automatic",
          "created": 1695992330,
          "currency": "brl",
          "customer": "cus_Oj8Yp6qM5Ovg2o",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": {
            "type": "use_stripe_sdk",
            "use_stripe_sdk": {
              "source": "src_1NvgHOJuOnwQq9QxErIsigOc",
              "stripe_js": "https://hooks.stripe.com/redirect/authenticate/src_1NvgHOJuOnwQq9QxErIsigOc?client_secret=src_client_secret_rdXjhH0Tl8OUff8mgXQlDfjX&source_redirect_slug=test_YWNjdF8xSlJnYVJKdU9ud1FxOVF4LF9PajhZRWFpdFRCbUhvSlFxOU5yQWh3SkhQcmZ1cjAx01000J5ZeA4U",
              "type": "three_d_secure_redirect"
            }
          },
          "on_behalf_of": null,
          "payment_method": "pm_1NvgHMJuOnwQq9Qxde6Wo5g0",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_action",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 29 Sep 2023 12:58:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Oj8Yp6qM5Ovg2o&items[0][price]=price_1NVEIqJuOnwQq9QxBMaE2yul
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eec54f32-9b19-4e84-8917-d655c95a7093
      Original-Request:
      - req_WvdBq9Sy7W5ygF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1NvgHSJuOnwQq9QxSDVz59y4",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1695992334,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1695992334,
          "currency": "brl",
          "current_period_end": 1698584334,
          "current_period_start": 1695992334,
          "customer": "cus_Oj8Yp6qM5Ovg2o",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Oj8YMooB9B84q7",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1695992335,
                "metadata": {},
                "plan": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_OHnuD1fgH0cvlZ",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_OHnuD1fgH0cvlZ",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1NvgHSJuOnwQq9QxSDVz59y4",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1NvgHSJuOnwQq9QxSDVz59y4"
          },
          "latest_invoice": "in_1NvgHSJuOnwQq9QxldwtrMav",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1689688260,
            "currency": "brl",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_OHnuD1fgH0cvlZ",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1695992334,
          "status": "incomplete",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Fri, 29 Sep 2023 12:58:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1NvgHSJuOnwQq9QxldwtrMav
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "in_1NvgHSJuOnwQq9QxldwtrMav",
          "object": "invoice",
          "account_country": "BR",
          "account_name": "Ribon",
          "account_tax_ids": null,
          "amount_due": 300,
          "amount_paid": 0,
          "amount_remaining": 300,
          "amount_shipping": 0,
          "application": null,
          "application_fee_amount": null,
          "attempt_count": 0,
          "attempted": true,
          "auto_advance": true,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_reason": "subscription_create",
          "charge": null,
          "collection_method": "charge_automatically",
          "created": 1695992334,
          "currency": "brl",
          "custom_fields": null,
          "customer": "cus_Oj8Yp6qM5Ovg2o",
          "customer_address": {
            "city": "Brasília",
            "country": "BR",
            "line1": null,
            "line2": null,
            "postal_code": null,
            "state": "DF"
          },
          "customer_email": "customer118@customer.com",
          "customer_name": "a customer",
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [
            {
              "type": "br_cpf",
              "value": "111.111.111-11"
            }
          ],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "due_date": null,
          "effective_at": 1695992334,
          "ending_balance": 0,
          "footer": null,
          "from_invoice": null,
          "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1JRgaRJuOnwQq9Qx/test_YWNjdF8xSlJnYVJKdU9ud1FxOVF4LF9PajhZeWJoM0djOVN3MUdTM3Zwamc3R3NBeHlRTVdJLDg2NTMzMTM10200PSBeh8Ia?s=ap",
          "invoice_pdf": "https://pay.stripe.com/invoice/acct_1JRgaRJuOnwQq9Qx/test_YWNjdF8xSlJnYVJKdU9ud1FxOVF4LF9PajhZeWJoM0djOVN3MUdTM3Zwamc3R3NBeHlRTVdJLDg2NTMzMTM10200PSBeh8Ia/pdf?s=ap",
          "last_finalization_error": null,
          "latest_revision": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1NvgHSJuOnwQq9QxXpHNDmhe",
                "object": "line_item",
                "amount": 300,
                "amount_excluding_tax": 300,
                "currency": "brl",
                "description": "1 × subscription test (at R$ 3.00 / month)",
                "discount_amounts": [],
                "discountable": true,
                "discounts": [],
                "livemode": false,
                "metadata": {},
                "period": {
                  "end": 1698584334,
                  "start": 1695992334
                },
                "plan": {
                  "id": "price_1NVEIqJuOnwQq9QxBMaE2yul",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1689688260,
                  "currency": "brl",
                  "interval": "month",
                  "interval_cou[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3NvgHSJuOnwQq9Qx0MOWpFIt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
     [...]
