---
http_interactions:
  - request:
      method: get
      uri: http://economia.awesomeapi.com.br/json/last/brl-brl
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 308
        message: Permanent Redirect
      headers:
        Content-Type:
          - text/html
        Location:
          - https://economia.awesomeapi.com.br/json/last/brl-brl
      body:
        encoding: UTF-8
        string:
          "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
          Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    recorded_at: Wed, 13 Jul 2022 13:37:54 GMT
  - request:
      method: get
      uri: https://economia.awesomeapi.com.br/json/last/brl-brl
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Origin-Agent-Cluster:
          - "?1"
        Etag:
          - W/"4e-2kj4yeKff5LI9ROnOfH2rHUIxJU"
      body:
        encoding: UTF-8
        string:
          '{"status":404,"code":"CoinNotExists","message":"moeda nao encontrada
          BRL-BRL"}'
    recorded_at: Wed, 13 Jul 2022 13:37:55 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_methods
      body:
        encoding: UTF-8
        string: type=card&card[number]=4111111111111111&card[exp_month]=08&card[exp_year]=22&card[cvc]=411
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 36ba1db3-7991-46a2-8a52-0909965cdbaa
        Original-Request:
          - req_1gVOxIEbZOPAD9
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "pm_1LL5lJJuOnwQq9Qx3pLuiXrU",
            "object": "payment_method",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": null,
              "phone": null
            },
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "unchecked"
              },
              "country": "US",
              "exp_month": 8,
              "exp_year": 2022,
              "fingerprint": "90iExg3JXBkdPgam",
              "funding": "credit",
              "generated_from": null,
              "last4": "1111",
              "networks": {
                "available": [
                  "visa"
                ],
                "preferred": null
              },
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1657719477,
            "customer": null,
            "livemode": false,
            "metadata": {
            },
            "type": "card"
          }
    recorded_at: Wed, 13 Jul 2022 13:37:57 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/customers
      body:
        encoding: UTF-8
        string: email=user%40test.com&name=User+Test&payment_method=pm_1LL5lJJuOnwQq9Qx3pLuiXrU&invoice_settings[default_payment_method]=pm_1LL5lJJuOnwQq9Qx3pLuiXrU
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 84b9e886-c911-4a1a-befc-e302ac6f9560
        Original-Request:
          - req_eK7mfQY55Yx5q3
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "cus_M3C9p6XNMXtIzN",
            "object": "customer",
            "address": null,
            "balance": 0,
            "created": 1657719479,
            "currency": null,
            "default_source": null,
            "delinquent": false,
            "description": null,
            "discount": null,
            "email": "user@test.com",
            "invoice_prefix": "E7299126",
            "invoice_settings": {
              "custom_fields": null,
              "default_payment_method": "pm_1LL5lJJuOnwQq9Qx3pLuiXrU",
              "footer": null,
              "rendering_options": null
            },
            "livemode": false,
            "metadata": {
            },
            "name": "User Test",
            "next_invoice_sequence": 1,
            "phone": null,
            "preferred_locales": [

            ],
            "shipping": null,
            "tax_exempt": "none",
            "test_clock": null
          }
    recorded_at: Wed, 13 Jul 2022 13:37:59 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/customers/cus_M3C9p6XNMXtIzN/tax_ids
      body:
        encoding: UTF-8
        string: type=br_cpf&value=111.111.111-11
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 7414662e-f1b7-4140-ba09-98bf6f901298
        Original-Request:
          - req_1pzHCRtpTpKltr
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "txi_1LL5lMJuOnwQq9QxTWq7gDVb",
            "object": "tax_id",
            "country": "BR",
            "created": 1657719480,
            "customer": "cus_M3C9p6XNMXtIzN",
            "livemode": false,
            "type": "br_cpf",
            "value": "111.111.111-11",
            "verification": {
              "status": "unavailable",
              "verified_address": null,
              "verified_name": null
            }
          }
    recorded_at: Wed, 13 Jul 2022 13:38:01 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/subscriptions
      body:
        encoding: UTF-8
        string: customer=cus_M3C9p6XNMXtIzN&items[0][price]=price_1JYGkdJuOnwQq9Qx68T4Re34
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 7dcd884b-2bc1-44d1-894c-d348d93f8088
        Original-Request:
          - req_zrgSE1slE2EGm1
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "sub_1LL5lOJuOnwQq9Qx4R7A11nz",
            "object": "subscription",
            "application": null,
            "application_fee_percent": null,
            "automatic_tax": {
              "enabled": false
            },
            "billing_cycle_anchor": 1657719482,
            "billing_thresholds": null,
            "cancel_at": null,
            "cancel_at_period_end": false,
            "canceled_at": null,
            "collection_method": "charge_automatically",
            "created": 1657719482,
            "current_period_end": 1660397882,
            "current_period_start": 1657719482,
            "customer": "cus_M3C9p6XNMXtIzN",
            "days_until_due": null,
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [

            ],
            "description": null,
            "discount": null,
            "ended_at": null,
            "items": {
              "object": "list",
              "data": [
                {
                  "id": "si_M3C9MUvSSG7jK6",
                  "object": "subscription_item",
                  "billing_thresholds": null,
                  "created": 1657719482,
                  "metadata": {
                  },
                  "plan": {
                    "id": "price_1JYGkdJuOnwQq9Qx68T4Re34",
                    "object": "plan",
                    "active": true,
                    "aggregate_usage": null,
                    "amount": 1000,
                    "amount_decimal": "1000",
                    "billing_scheme": "per_unit",
                    "created": 1631307311,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {
                    },
                    "nickname": null,
                    "product": "prod_KCg6mDCdtMiLug",
                    "tiers_mode": null,
                    "transform_usage": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "price": {
                    "id": "price_1JYGkdJuOnwQq9Qx68T4Re34",
                    "object": "price",
                    "active": true,
                    "billing_scheme": "per_unit",
                    "created": 1631307311,
                    "currency": "usd",
                    "custom_unit_amount": null,
                    "livemode": false,
                    "lookup_key": null,
                    "metadata": {
                    },
                    "nickname": null,
                    "product": "prod_KCg6mDCdtMiLug",
                    "recurring": {
                      "aggregate_usage": null,
                      "interval": "month",
                      "interval_count": 1,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "tax_behavior": "unspecified",
                    "tiers_mode": null,
                    "transform_quantity": null,
                    "type": "recurring",
                    "unit_amount": 1000,
                    "unit_amount_decimal": "1000"
                  },
                  "quantity": 1,
                  "subscription": "sub_1LL5lOJuOnwQq9Qx4R7A11nz",
                  "tax_rates": [

                  ]
                }
              ],
              "has_more": false,
              "total_count": 1,
              "url": "/v1/subscription_items?subscription=sub_1LL5lOJuOnwQq9Qx4R7A11nz"
            },
            "latest_invoice": "in_1LL5lOJuOnwQq9QxgwtucIBS",
            "livemode": false,
            "metadata": {
            },
            "next_pending_invoice_item_invoice": null,
            "pause_collection": null,
            "payment_settings": {
              "payment_method_options": null,
              "payment_method_types": null,
              "save_default_payment_method": "off"
            },
            "pending_invoice_item_interval": null,
            "pending_setup_intent": null,
            "pending_update": null,
            "plan": {
              "id": "price_1JYGkdJuOnwQq9Qx68T4Re34",
              "object": "plan",
              "active": true,
              "aggregate_usage": null,
              "amount": 1000,
              "amount_decimal": "1000",
              "billing_scheme": "per_unit",
              "created": 1631307311,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {
              },
              "nickname": null,
              "product": "prod_KCg6mDCdtMiLug",
              "tiers_mode": null,
              "transform_usage": null,
              "trial_period_days": null,
              "usage_type": "licensed"
            },
            "quantity": 1,
            "schedule": null,
            "start_date": 1657719482,
            "status": "active",
            "test_clock": null,
            "transfer_data": null,
            "trial_end": null,
            "trial_start": null
          }
    recorded_at: Wed, 13 Jul 2022 13:38:04 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_intents
      body:
        encoding: UTF-8
        string: customer=cus_M3C9p6XNMXtIzN&items[0][price]=price_1JYGkdJuOnwQq9Qx68T4Re34
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 7dcd884b-2bc1-44d1-894c-d348d93f8088
        Original-Request:
          - req_zrgSE1slE2EGm1
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "pi_1DseH42eZvKYlo2C5UQDyYph",
            "object": "payment_intent",
            "amount": 2000,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 0,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": null,
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic",
            "charges": {
              "object": "list",
              "data": [],
              "has_more": false,
              "url": "/v1/charges?payment_intent=pi_1DseH42eZvKYlo2C5UQDyYph"
            },
            "client_secret": "pi_1DseH42eZvKYlo2C5UQDyYph_secret_gowsU3j2SgDfFECrHNzE8UtGK",
            "confirmation_method": "automatic",
            "created": 1547506278,
            "currency": "usd",
            "customer": null,
            "description": null,
            "invoice": null,
            "last_payment_error": null,
            "livemode": false,
            "metadata": {},
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": null,
            "payment_method_options": {},
            "payment_method_types": [
              "card"
            ],
            "processing": null,
            "receipt_email": null,
            "redaction": null,
            "review": null,
            "setup_future_usage": null,
            "shipping": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "requires_payment_method",
            "transfer_data": null,
            "transfer_group": null
          }
    recorded_at: Wed, 13 Jul 2022 13:38:04 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/refunds
      body:
        encoding: UTF-8
        string: customer=cus_M3C9p6XNMXtIzN&items[0][price]=price_1JYGkdJuOnwQq9Qx68T4Re34
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 7dcd884b-2bc1-44d1-894c-d348d93f8088
        Original-Request:
          - req_zrgSE1slE2EGm1
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
            "id": "re_3LwQHI2eZvKYlo2C1EQTr7vy",
            "object": "refund",
            "amount": 100,
            "balance_transaction": null,
            "charge": "ch_3LwQHI2eZvKYlo2C1bJ8QVZS",
            "created": 1666700440,
            "currency": "usd",
            "metadata": {},
            "payment_intent": null,
            "reason": null,
            "receipt_number": null,
            "source_transfer_reversal": null,
            "status": "succeeded",
            "transfer_reversal": null
          }
    recorded_at: Wed, 13 Jul 2022 13:38:04 GMT
  - request:
      method: get
      uri: http://economia.awesomeapi.com.br/json/last/brl-usd
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 308
        message: Permanent Redirect
      headers:
        Content-Type:
          - text/html
        Location:
          - https://economia.awesomeapi.com.br/json/last/brl-usd
      body:
        encoding: UTF-8
        string:
          "<html>\r\n<head><title>308 Permanent Redirect</title></head>\r\n<body>\r\n<center><h1>308
          Permanent Redirect</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    recorded_at: Wed, 13 Jul 2022 13:38:05 GMT
  - request:
      method: get
      uri: https://economia.awesomeapi.com.br/json/last/brl-usd
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Origin-Agent-Cluster:
          - "?1"
        Etag:
          - W/"f0-JBz4WUFJT3rpcrl0jlfzDf9hIjE"
      body:
        encoding: UTF-8
        string:
          '{"BRLUSD":{"code":"BRL","codein":"USD","name":"Real Brasileiro/Dólar
          Americano","high":"0.1849","low":"0.183","varBid":"0.0009","pctChange":"0.51","bid":"0.1848","ask":"0.1848","timestamp":"1657719480","create_date":"2022-07-13
          10:38:00"}}'
    recorded_at: Wed, 13 Jul 2022 13:38:06 GMT
  - request:
      method: post
      uri: https://polygon-mumbai.g.alchemy.com/v2/iwJOj0NGGqgpYpyCJxt3dZzu9wOMACg_
      body:
        encoding: UTF-8
        string: '{"jsonrpc":"2.0","method":"eth_chainId","params":[],"id":1}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string: '{"jsonrpc":"2.0","result":"0x13881","id":1}'
    recorded_at: Wed, 13 Jul 2022 13:38:07 GMT
[...]
  - request:
      method: delete
      uri: https://api.stripe.com/v1/subscriptions/sub_1Ne15GAvG66WJy8BS3oZ9VGW
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2022-11-15"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "sub_1Ne15GAvG66WJy8BS3oZ9VGW",
            "object": "subscription",
            "application": null,
            "application_fee_percent": null,
            "automatic_tax": {
              "enabled": false
            },
            "billing_cycle_anchor": 1691782398,
            "billing_thresholds": null,
            "cancel_at": null,
            "cancel_at_period_end": false,
            "canceled_at": 1692134620,
            "cancellation_details": {
              "comment": null,
              "feedback": null,
              "reason": "cancellation_requested"
            },
            "collection_method": "charge_automatically",
            "created": 1691782398,
            "currency": "brl",
            "current_period_end": 1694460798,
            "current_period_start": 1691782398,
            "customer": "cus_OQsqpzXv8vZ6OH",
            "days_until_due": null,
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [],
            "[...]
[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/invoices/in_1LL5lOJuOnwQq9QxgwtucIBS
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2022-11-15"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "in_1NnKhEAvG66WJy8BTBJ6F1ca",
            "object": "invoice",
            "account_country": "US",
            "account_name": "Ribon",
            "account_tax_ids": null,
            "amount_due": 799,
            "amount_paid": 0,
            "amount_remaining": 799,
            "amount_shipping": 0,
            "application": null,
            "application_fee_amount": null,
            "attempt_count": 0,
            "attempted": false,
            "auto_advance": false,
            "automatic_tax": {
              "enabled": false,
              "status": null
            },
            "billing_reason": "manual",
            "charge": null,
            "collection_method": "charge_automatically",
            "created": 1694002740,
            "currency": "usd",
            "custom_fields": null,
            "customer": "cus_OEpU9uOt0OlONC",
            "customer_address": null,
            "customer_email": "henrikleod@gmail.com",
            "customer_name": "Carlos H Barbosa",
            "customer_phone": null,
            "customer_shipping": null,
            "customer_tax_exempt": "none",
            "customer_tax_ids": [],
            "default_payment_method": null,
            "default_source": null,
            "default_tax_rates": [],
            "description": null,
            "discount": null,
            "discounts": [],
            "due_date": null,
            "effective_at": null,
            "ending_balance": null,
            "footer": null,
            "from_invoice": null,
            "hosted_invoice_url": null,
            "invoice_pdf": null,
            "last_finalization_error": null,
            "latest_revision": null,
            "lines": {
              "object": "list",
              "data": [
                {
                  "id": "il_1NnKhEAvG66WJy8BIhbULnbK",
                  "object": "line_item",
                  "amount": 799,
                  "amount_excluding_tax": 799,
                  "currency": "usd",
                  "description": "My First Invoice Item (created for API docs)",
                  "discount_amounts": [],
                  "discountable": true,
                  "discounts": [],
                  "invoice_item": "ii_1NnKhEAvG66WJy8BEbO73Uk6",
                  "livemode": false,
                  "metadata": {},
                  "period": {
                    "end": 1694002740,
                    "start": 1694002740
                  },
                  "price": {
                    "id": "price_1NnJP72eZvKYlo2CiaMVjDSp",
                    "object": "price",
                    "active": true,
                    "billing_scheme": "per_unit",
                    "created": 1693997773,
                    "currency": "usd",
                    "custom_unit_amount": null,
                    "livemode": false,
                    "lookup_key": null,
                    "metadata": {},
                    "nickname": null,
                    "product": "prod_OaUNxfUCCOWf3e",
                    "recurring": null,
                    "tax_behavior": "unspecified",
                    "tiers_mode": null,
                    "transform_quantity": null,
                    "type": "one_time",
                    "unit_amount": 799,
                    "unit_amount_decimal": "799"
                  },
                  "proration": false,
                  "proration_details": {
                    "credited_items": null
                  },
                  "quantity": 1,
                  "subscription": null,
                  "tax_amounts": [],
                  "tax_rates": [],
                  "type": "invoiceitem",
                  "unit_amount_excluding_tax": "799"
                }
              ],
              "has_more": false,
              "url": "/v1/invoices/in_1NnKhEAvG66WJy8BTBJ6F1ca/lines"
            },
            "livemode": false,
            "metadata": {},
            "next_payment_attempt": null,
            "number": null,
            "on_behalf_of": null,
            "paid": false,
            "paid_out_of_band": false,
            "payment_intent": "in_1LL5lOJuOnwQq9QxgwtucIBS",
            "payment_settings": {
              "default_mandate": null,
              "payment_method_options": null,
              "payment_method_types": null
            },
            "period_end": 1695920712,
            "period_start": 1693242312,
            "post_payment_credit_notes_amount": 0,
            "pre_payment_credit_notes_amount": 0,
            "quote": null,
            "receipt_number": null,
            "rendering_options": null,
            "shipping_cost": null,
            "shipping_details": null,
            "starting_balance": 0,
            "statement_descriptor": null,
            "status": "draft",
            "status_transitions": {
              "finalized_at": null,
              "marked_uncollectible_at": null,
              "paid_at": null,
              "voided_at": null
            },
            "subscription": null,
            "subscription_details": {
              "metadata": null
            },
            "subtotal": 799,
            "subtotal_excluding_tax": 799,
            "tax": null,
            "test_clock": null,
            "total": 799,
            "total_discount_amounts": [],
            "total_excluding_tax": 799,
            "total_tax_amounts": [],
            "transfer_data": null,
            "webhooks_delivered_at": null
          }
    recorded_at: Tue, 15 Aug 2023 21:23:41 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/payment_intents/in_1LL5lOJuOnwQq9QxgwtucIBS
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2022-11-15"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pi_1Gt08v2eZvKYlo2CVSyYMu9B",
            "object": "payment_intent",
            "amount": 1000,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 0,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": null,
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic",
            "client_secret": "pi_1Gt08v2eZvKYlo2CVSyYMu9B_secret_ROg8vEcUghngabfuX0cc1jzHw",
            "confirmation_method": "automatic",
            "created": 1591919349,
            "currency": "usd",
            "customer": null,
            "description": "Created by stripe.com/docs demo",
            "invoice": null,
            "last_payment_error": null,
            "latest_charge": "ch_3NnLspAvG66WJy8B0dFmDBcf",
            "livemode": false,
            "metadata": {},
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": null,
            "payment_method_options": {
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              }
            },
            "payment_method_types": [
              "card"
            ],
            "processing": null,
            "receipt_email": null,
            "review": null,
            "setup_future_usage": null,
            "shipping": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          }
    recorded_at: Tue, 15 Aug 2023 21:23:41 GMT
  - request:
      method: get
      uri: https://api.stripe.com/v1/charges/ch_3NnLspAvG66WJy8B0dFmDBcf
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2022-11-15"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ch_3NnLspAvG66WJy8B0dFmDBcf",
            "object": "charge",
            "amount": 100,
            "amount_captured": 0,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_1NSbD7AvG66WJy8BSh7lvuEg",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
[...]
