http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_methods
      body:
        encoding: UTF-8
        string: type=card&card[number]=4111111111111111&card[exp_month]=08&card[exp_year]=22&card[cvc]=411
      headers:
        Authorization:
          - Bearer STRIPE_SECRET_KEY
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 402
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 36ba1db3-7991-46a2-8a52-0909965cdbaa
        Original-Request:
          - req_1gVOxIEbZOPAD9
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2020-08-27"
      body:
        encoding: UTF-8
        string: |
          {
           "error": {
            "code": "card_declined",
            "message": "error",
            "type": "card"
           }
          }
    recorded_at: Wed, 13 Jul 2022 13:37:57 GMT
recorded_with: VCR 6.1.0
