---
http_interactions:
- request:
    method: get
    uri: https://owlracle.info/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://api.owlracle.info/v2/poly/gas?
    body:
      encoding: UTF-8
      string: Found. Redirecting to https://api.owlracle.info/v2/poly/gas?
  recorded_at: Fri, 29 Sep 2023 14:10:23 GMT
- request:
    method: get
    uri: https://api.owlracle.info/v2/poly/gas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-Ygzk9LBrkZvIffTMFEI+u/Bm05s"
    body:
      encoding: UTF-8
      string: '{"error":{"status":400,"type":"Bad Request","message":"Missing API
        key"}}'
  recorded_at: Fri, 29 Sep 2023 14:10:24 GMT
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=BRL&currencies=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - CURRENCY_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '15.14'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '292'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"meta":{"last_updated_at":"2024-03-10T23:59:59Z"},"data":{"USD":{"code":"USD","value":0.1843}}}'
  recorded_at: Mon, 11 Mar 2024 14:56:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=24&card[cvc]=123
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1bac04a0-81c6-4836-8fd3-a9f0b3bb783b
      Original-Request:
      - req_KYbaPsVJxxRYxW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1NvhOfJuOnwQq9QxOlgXqwtJ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "J86sIAm6HrVJKFlv",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1695996625,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 29 Sep 2023 14:10:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=customer116%40customer.com&name=a+customer&payment_method=pm_1NvhOfJuOnwQq9QxOlgXqwtJ&invoice_settings[default_payment_method]=pm_1NvhOfJuOnwQq9QxOlgXqwtJ&address[country]=BR&address[city]=Bras%C3%ADlia&address[state]=DF
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 858243f7-325e-402c-bf11-048a090616e6
      Original-Request:
      - req_3YaNjR47b3V84i
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_3YaNjR47b3V84i?t=1695996625",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 29 Sep 2023 14:10:26 GMT
recorded_with: VCR 6.1.0
